
body {
    background: #f5f7f9;
    color: $color-black;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    margin: 70px 0;
}
a{
    transition: color 0.2s ease;
}